extends ../shared/template

block content
  h1= title
  br
  br
  br
  h4= "Want to find out what your weather's like? Enter your ZIP code and press the \"Get Weather\" button below."
  .row
    .small-4.columns
      .row
        .small-6.columns
          label ZIP code
          input(name='ZIP', type='text')
        .small-3.columns
          button.small.radius#get-weather Get Weather
        .small-3.columns


